# Database Configuration
DB_HOST=sql312.infinityfree.com
DB_NAME=if0_41400800_salah_store
DB_USER=if0_41400800
DB_PASS=7lIC2xHs71

# Security Settings
ENABLE_HTTPS=true

# Application Settings

APP_ENV=development
APP_DEBUG=true
